body {
  font-family: Courier, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  padding: 0 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #000;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.left-column, .right-column {
  flex: 0 0 calc(50% - 20px);
}
section {
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media queries for Mobile */
@media only screen and (max-width: 767px) {
  header .container {
    padding: 0;
  }
  nav ul {
    text-align: center;
    margin-top: 10px;
  }
  nav ul li {
    display: block;
    margin: 0 auto 10px;
  }
  main {
    grid-template-columns: 1fr;
  }
  .left-column, .right-column {
    flex: 1;
  }
  .right-column {
    margin-top: 20px;
  }
  footer .container {
    padding: 0;
  }
}

/* Media queries for Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .container,
  footer .container {
    padding: 0 15px;
  }
  nav ul {
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  main {
    padding: 20px;
  }
  .left-column, .right-column {
    flex: 1;
  }
  .right-column {
    margin-top: 20px;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 992px) {
  header .container,
  footer .container {
    padding: 0 20px;
  }
  nav ul {
    text-align: left;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .left-column, .right-column {
    flex: 0 0 calc(50% - 20px);
  }
  .right-column {
    margin-top: 0;
  }
  footer {
    padding: 20px 0;
  }
}
